<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Budget Buddy</title>
  <link rel="stylesheet" type="text/css" href="/stylesheet/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">Budget Buddy</a>
      </h1>
      <div>
        <button class="btn">Login</button>
        <button class="btn" id='signup-btn'>Signup</button>
      </div>
      
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      &copy; Budget Buddy 2021
    </footer>
  </div>

</body>

</html>