* {
    box-sizing: border-box;
    /*border:black 1px solid;*/
}

.wrapper{
    min-height: 100%;
    position: relative;
}

header a {
    text-decoration: none;
    color: white;
}

body, html {
    height: 100%;
    padding: 0;
    margin: 0;
}

.body{
    padding: 10px;
    padding-bottom: 30px;
}

header {
    background-color:dodgerblue;
    font-size: 30px;
    color: white;
    text-align: center;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: inline-block;
    margin-left: 0;
    margin-top: 75px;
    border-radius: 10px;
    width: 100%;
}

.homepage{
    text-align: center;
    font-size: 40px;
    color:black;
    margin-top: 200px;
    float: right;
    background-color: darkorange;
    border-radius: 10px;
    height: 150px;
    padding-top: 55px;
    width: 50%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.log{
    color: white;
    text-decoration: none;
    background-color:chartreuse;
    float: left;
    margin-top: 550px;
    border-radius: 10px;
    height: 150px;
    width: 50%;
    text-align: center;
    padding-top: 25px;
}

.log a{
    text-decoration: none;
    color: white;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.log a:hover{
    color: blue;
}

footer{
    background-color: dodgerblue;
    color: white;
    font-size: 20px;
    margin-top: 40px;    
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 40px;
}

textarea, input {
    padding: .5%;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form label {
    display: block;
}

#loggout {
    border: none;
    color: black;
}

.modal {
    display: none;
    position: fixed; 
    padding-top: 50px;
    left: 0; 
    top: 0;
    width: 100%;
    height: 100%; 
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    position: relative; 
    background-color: white;
    padding: 20px; 
    margin: auto; 
    width: 75%;  
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.close-btn {
    float: right; 
    color: lightgray; 
    font-size: 24px;  
    font-weight: bold;
}

.close-btn:hover {
    color: darkgray;
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.signup-form, .login-form{
    display: inline;
}

.login, .signup{
    display: block;
    margin: auto;
    padding: 20px;
    width: 500px;
    justify-content: center;
    font-size: 20px;
}

#login-btn, #signup-btn{
    margin-top: 10px;
    background-color:black;
    color: antiquewhite;
    border-radius: 7px;
    width: 500px;
}

#login-btn:hover{
    background-color: dimgrey;
    color:springgreen;
}

#signup-btn:hover{
    background-color:springgreen;
    color: dimgray;
}

.intro{
    margin-top: 20px;
    text-align: center;
    font-size: 30px;
    height: 50px;
}

.budget{
    text-align: center;
    background-color: red;
    color: white;
    margin-top:20px;
    width: 100%;
    height: 40px;
    padding: auto;
    border-radius: 10px;
}

.income{
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    font-size: 25px;
    width: 100%;
}

.edit-income{
    display: block;
    text-align: center;
    margin:auto;
    margin-bottom: 30px;
    margin-top: 20px;
    background-color: black;
    color: white;
    height: 20px;
    border-radius: 10px;
}

.trans{
    text-align: center;
    background-color:rgb(0, 180, 84);
    color: white;
    margin-top:50px;
    width: 100%;
    height: 40px;
    padding: auto;
    border-radius: 10px;
}

.transaction-list{
    display: flex;
    font-size: 20px;
    padding: 25px;
}

.trans-list-item{
    margin-left: 25px;
}

.trans-list-item a{
    text-decoration: none;
    color: black;
}

.trans-list-item:hover{
    background-color: lightgrey;
    border-radius: 50%;
}

.add-trans-btn{
    display: block;
    text-align: center;
    margin-top: 20;
    margin:auto;
    background-color:midnightblue;
    color: gold;
    height: 50px;
    width: 15%;
    border-radius: 10px;
    font-size: 20px;
}

.add-trans-btn:hover{
    background-color: greenyellow;
    color: indigo;
}

.add-link a{
    text-decoration: none;
}

.stats{
    font-size: 20px;
}

.remaining{
    background-color: yellow;
    text-align: center;
}