<section class="handlebar-container">
  <form class="login-form">
    <div>
      <label class="login" for="username-login">Username:</label>
      <input class="login" type="text" id="username-login" />
    </div>
    <div>
      <label class="login" for="password-login">Password:</label>
      <input class="login" type="password" id="password-login" />
    </div>
    <div>
      <button class="button login-button" type="submit">Login</button>
    </div>
  </form>

  <form class="signup-form">
    <div>
      <label class="signup" for="username-signup">Username:</label>
      <input class="signup" type="text" id="username-signup" />
    </div>
    <div>
      <label class="signup" for="email-signup">Email:</label>
      <input class="signup" type="email" id="email-signup" />
    </div>
    <div>
      <label class="signup" for="password-signup">Password:</label>
      <input class="signup" type="password" id="password-signup" />
    </div>
    <div>
      <label class="signup" for="monthly_income">Monthly Income:</label>
      <input
        class="signup"
        type="number"
        step="0.01"
        id="monthly_income"
        name="monthly_income"
      />
    </div>
    <div>
      <button class="button" type="submit">Signup</button>
    </div>
  </form>
</section>
<div id="animation-div" style="height: 100vh; width: 100vw"></div>

<script src="/javascript/login.js"></script>
<script src="/javascript/animations/load.js"></script>