<section>
    <h2>{{username}} budget</h2>
    <ol class="transaction-list">
        <li>
            <div>
                <h3>{{title}}</h3>
                {{category}}: {{amount}}
            </div>
        </li>
    </ol>
    <div>
        **Pie chart**
    </div>
</section>

<div>
    <button type="button">Edit Income</button>
    <button id="myBtn">Open Modal</button>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>Some text in the Modal..</p>
  </div>

</div>
    <a href="/transaction">
     <button type="button">Add transaction</button>
    </a>
    <button type="button" class="destroyTransaction">Delete transaction</button>
</div>

<script src="/public/javascript/transaction.js"></script>
<script src="/public/javascript/login.js"></script>