<section>
    <h2>Create new budget</h2>

    <form class="new-budget-form">
        <div>
            <label for="income">Income</label>
            <input type="number" id="income" name="income" />
        </div>
        <div>
            <label for="expense">Expense</label>
            <input type="number" id="expense" name="expense"/>
        </div>
    </form>
</section>

<section>
    <h2>Your budget</h2>
    <div>
        {{}}
    </div>
</section>