<section>
    <h2>Your budget</h2>
    <div>
        **Pie chart**
    </div>
</section>

<div>
    <button type="button">Edit Income</button>
    <button type="button" class="transaction">Add transaction</button>
</div>