<section id='add-transation-container'>
    <h2>Create new transaction</h2>

    <form class="new-transaction-form">
        <div>
            <label for="memo">Transaction Memo</label>
            <input type="string" id="transaction-memo" name="transaction-memo" />
        </div>
        <div>
            <label for="amount">How much was spent?</label>
            <input type="integer" id="transaction-amount" name="transaction-amount" />
        </div>
        <div>
            <label for="date">Date of Transaction</label>
            <input type="date" id="transaction-date" name="transaction-date"/>
        </div>
        <div>
            <label for="category">Choose a category:</label>

           <select name="transaction-category" id="transaction-category">
                <option type="string" value="Bills/Utilities">Bills/Utilities</option>
                <option type="string" value="Shopping">Shopping</option>
                <option type="string" value="Entertainment">Entertainment</option>
                <option type="string" value="Other">Other</option>
            </select>
        </div>
        <button type="submit" class="button">Add</button>
    </form>
</section>

<script src="/javascript/transaction.js"></script>