<section>
    <h2>Create new transaction</h2>

    <form class="new-transaction-form">
        <div>
            <label for="title">Transaction Title</label>
            <input type="string" id="transaction-title" name="transaction-title" />
        </div>
        <div>
            <label for="amount">How much was spent?</label>
            <input type="number" id="transaction-amount" name="transaction-amount" />
        </div>
        <div>
            <label for="categories">Choose a category:</label>

            <select name="transaction-category" id="transaction-category">
                <option value="bills">Bills/Utilities</option>
                <option value="shopping">Shopping</option>
                <option value="entertainment">Entertainment</option>
                <option value="other">Other</option>
            </select>
        </div>
        <button type="submit" class="btn">Add</button>
    </form>
</section>